.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    background-color: #000;
}

.icon {
    /* Tamanho consistente para ícones */
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s ease;
}

.icon:hover {
    width: 40px;
    height: 40px;
    background-color: #7700ff;
    border-radius: 20px;
    padding: .5rem;
}

.backgroundIcon {
    background-color: #d6b1ff;
    border-radius: 20px;
    padding: .25rem;
}

.navButton {
    /* Cor roxa para indicar interatividade */
    background-color: #6a00ff;
    /* Texto branco para contraste */
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: 0.3s ease;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navButton:hover {
    background-color: #ae67ff;
    transform: scale(1.05);
}

.userContainer {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown button {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.dropdown button:hover {
    background-color: #3d3d3d;
}

.registrationOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.registrationModal {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 12px;
    width: 350px;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.registrationModal h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.registrationModal form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.registrationModal label {
    text-align: left;
    font-size: 0.9rem;
    color: #555;
}

.registrationModal input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

.registrationModal input:focus {
    border-color: #6a00ff;
    outline: none;
    box-shadow: 0 0 5px rgba(106, 0, 255, 0.5);
}

.registrationModal button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #6a00ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.registrationModal button:hover {
    background-color: #ae67ff;
}

.registrationModal a {
    color: #6a00ff;
    text-decoration: none;
    font-size: 0.9rem;
}

.registrationModal a:hover {
    text-decoration: underline;
}

.logo {
    width: 8%;
    height: auto;
    margin-right: 1rem;
}