.banner {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 1rem 0;
    border-radius: 10px;
    transition: 0.3s ease;
}

.banner:hover {
    width: 120%;
    max-width: 1500px;
    cursor: pointer;
}

h2{
    margin-left: 1rem;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1400px;
}

.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.cardImage {
    width: 100%;
    height: 180px;
    object-fit: cover;

}

.cardText {
    padding: 1rem;
    font-size: 1rem;
}

.navButton {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #6a00ff;
    color: #fff;
    border-radius: 8px;
    transition: 0.3s ease;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

.navButton:hover {
    background-color: #ae67ff;
}